.slide-items .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* margin: 0 1rem; */
  /* border: 2px solid red; */
}
.slide-items .row {
  width: 10rem !important;
  height: auto !important;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.slide-items .row .col h1 {
  font-size: 1rem;
  font-weight: 700;
}
.slide-items .row .col img {
  transition: all 0.4s ease;
}
.slide-items .row .col:hover img {
  scale: 1.1;
}
.slide-items .row:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide-items .slick-prev {
  left: inherit;
  right: 100px;
}
.slide-items .slick-prev::before {
  top: 4px;
}
.slide-items .slick-arrow {
  top: -40%;
  zoom: 80%;
}
/* .category-slider-container .container-fluid {
  position: relative;
} */

@media (max-width: 600px) {
  .category-slider-container .hd {
    font-size: 15px;
  }
  .slick-prev:before {
    content: "→";
    rotate: 180deg;
    z-index: 111111;
    background: ffffff;
    color: #3bb77e;
    position: absolute;
    left: 50px;
    font-size: 2rem;
  }
  .slick-next:before {
    content: "→";
    z-index: 1111;
    background: ffffff;
    color: #3bb77e;
    position: absolute;
    right: 33px;
    font-size: 2rem;
    top: 31px;
  }
  .slide-items .slick-prev::before {
    top: 24px;
  }
  .slide-items {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: ;
  }
  .category-slider-container .slick-slider {
    margin:0 -15px;
}
}
