.nav-container.fixed {
  position: fixed;
  top: 0;
  z-index: 11;
  background: #ffffff;
  width: 100%;
}
.category-btn button {
  background-color: #3bb77e;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  display: flex;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600;
}
.category-btn button:hover {
  background: #3bb77d;
}
.navigation-menu .mega-menu {
  color: #515151;
  font-weight: 700;
  position: static;
}
.navigation-menu button {
  color: #515151;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  padding: 12px 17px;
  margin-right: 1rem;
}
.navigation-menu button:hover {
  color: #3bb77d;
  font-weight: 700;
}
.cat-subcat-dropdown-list button {
  width: 100%;
  justify-content: flex-start;
  margin: 0;
}
.cat-subcat-dropdown-list button:hover {
  color: #3bb77d;
  background: none;
}
.mega-menu-content .mega-menu-img {
  width: 100%;
  height: 100%;
  background-image: url("src/assets/mega-menu-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-clip: padding-box;
}
.mega-menu-content h1 {
  text-align: left;
  font-size: 20px;
  color: #3bb77d;
  font-weight: 700;
}
.mega-menu-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 2rem;
}
.mega-menu-content ul li {
  padding-bottom: 0.7rem;
  padding-left: auto;
  padding-right: auto;
  text-align: left;
}
.mega-menu-content ul li:hover {
  color: #3bb77d;
}
.mega-menu-img-content button {
  color: #ffffff;
}
.mega-menu-img-content:hover button {
  color: #ffffff;
}

.cat-dropdown {
  /* color: red; */
  /* border: 3px solid red; */
  width: max-content;
  position: absolute;
  top: 100%;
  z-index: 10;
  background: #ffffff;
  /* visibility: collapse; */
}

.nav-overlay {
  width: 100%;
  height: 100vh;
  background: #0007;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1280px) {
  .nav-part1,
  .nav-part3 {
    display: none;
  }
  .nav-part2 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .nav-container .nav-part1,
  .nav-container .nav-part3 {
    display: none;
  }
  .nav-container .nav-part2 {
    width: 90vw;
    height: 100vh;
    flex: 0 0 100%;
    background: #fff;
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1112;
    transition: all 0.4s ease-in-out;
    padding-top: 4rem;
  }
  .nav-container .nav-part2-mobile {
    right: 0;
  }
  .categories-nav-menu {
    flex-direction: column;
  }
}
